{% extends 'base/base.html' %}
{% load static %}
{% load zip %}

{% block links %}
<link rel="stylesheet" href="{% static 'reflection/css/variables.css' %}">
<link rel="stylesheet" href="{% static 'reflection/css/form1.css' %}">
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'reflection/js/dailyQuote.js' %}"></script>{% endblock %}

{% block content %}


<div class="outer-widget" id="welcome-widget">
    {% if user.is_authenticated %}
    <div class="welcome">Welcome {{ user.get_username }}</div>
    {% else %}
    <div class="notice">Notice: You are not logged in, form will not save</div>
    <a href="{% url 'signup' %}" class="button">Register</a>
    <a href="{% url 'login' %}" class="button">Login</a>
    {% endif %}
</div>

<div class="outer-widget">
    <form action="" method="post">
        {% csrf_token %}

        <div class="quote-wrapper inner-widget">
            <h3 class="quote-text" id="quote-text"></h3>
            <p class="quote-author" id="quote-author"></p>
        </div>

        <div class="feeling-selection inner-widget">
            <h2>How are you feeling?</h2>

            <div class="feeling-list">
                <!-- TODO: change face icons to svg -->
                {% for subwidget, icon in form1.feeling|zip:icons %}
                <div class="feeling-choice">
                    <input type="radio" name="{{ form1.feeling.name }}" id="{{ subwidget.id_for_label }}"
                        value="{{ forloop.counter0|add:1 }}">
                    <label for="{{ subwidget.id_for_label }}">
                        <img src="{% static icon %}" alt="Placeholder Test Image">
                        <div class="choice-label">{{ subwidget|striptags|make_list|slice:'2:'|join:'' }}</div>
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>

        {% if form1.feeling.errors %}
        <ul>
            {% for error in form1.feeling.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {{ field.help_text }}
        {{ form1.non_field_errors }}
        <input class="button" type="submit" name="ReflectionForm2" id="ReflectionForm2"
            value="Start your Reflection">
    </form>
</div>
{% endblock %}