{% extends 'base/base.html' %}
{% load static %}
{% load zip %}

{% block links %}
<link rel="stylesheet" href="{% static 'reflection/css/form2.css' %}">
<script type="text/javascript" src="{% static 'reflection/js/limitChoice.js' %}"></script>
{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}

    <div id="{{ form2.adjective.auto_id }}" class="form-field">
        <h2>How would you describe how you're feeling?</h2>
        <h4>Select a maximum of 3 choices</h4>

        <ul class="flex flex-wrap pl-0 list-none">
            {% for subwidget, adjective in form2.adjective|zip:adjective_choices %}
            <li class="inline-block list-none">
                <input class="hidden" type="checkbox" name="{{ form2.adjective.name }}" id="{{ subwidget.id_for_label }}"
                    value="{{ forloop.counter0|add:1 }}">
                <label class="p-2.5 relative m-2.5 cursor-pointer flex justify-center items-center h-10 w-36 duration-200 origin-center border-2 border-solid border-black" for="{{ subwidget.id_for_label }}">
                    {{ adjective }}
                </label>
            </li>
            {% endfor %}
        </ul>

        {% if form2.adjective.errors %}
        <ul class="flex flex-wrap pl-0 list-none">
            {% for error in form2.adjective.errors %}
            <li class="inline-block list-none">{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div id="{{ form2.reason.auto_id }}" class="form-field">
        <h2>Why are you feeling a {{ feeling }} out of 5?</h2>
        <h4>Select a maximum of 3 choices</h4>

        <ul class="flex flex-wrap pl-0 list-none">
            {% for subwidget, reason in form2.reason|zip:reason_choices %}
            <li class="inline-block list-none">
                <input class="hidden" type="checkbox" name="{{ form2.reason.name }}" id="{{ subwidget.id_for_label }}"
                    value="{{ forloop.counter0|add:1 }}">
                <label class="p-2.5 relative m-2.5 cursor-pointer flex justify-center items-center h-10 w-36 duration-200 origin-center border-2 border-solid border-black" for="{{ subwidget.id_for_label }}">
                    {{ reason }}
                </label>
            </li>
            {% endfor %}
        </ul>

        {% if form2.reason.errors %}
        <ul class="flex flex-wrap pl-0 list-none">
            {% for error in form2.reason.errors %}
            <li class="inline-block list-none">{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    {{ field.help_text }}
    {{ form1.non_field_errors }}

    <input type="submit" name="ReflectionForm1" id="ReflectionForm1" value="Back Home">
    {% if update %}
    <input type="submit" name="submit" value="Update Log">
    {% else %}
    <input type="submit" name="submit" value="Submit Log">
    {% endif %}
</form>
{% endblock %}