asgiref==3.5.0
attrs==21.4.0
bcrypt==3.2.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==36.0.2
distro==1.7.0
Django==4.0.4
django-environ==0.8.1
django-jquery==3.1.0
django-multiselectfield==0.1.12
djangorestframework==3.13.1
dj-database-url==0.5.0
docker==5.0.3
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
gunicorn==20.1.0
idna==3.3
jsonschema==3.2.0
paramiko==2.10.3
psycopg2-binary==2.9.3
pycparser==2.21
PyNaCl==1.5.0
pyrsistent==0.18.1
python-dotenv==0.20.0
python-http-client==3.3.7
pytz==2022.1
PyYAML==5.4.1
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
starkbank-ecdsa==2.0.3
texttable==1.6.4
tzdata==2022.1
urllib3==1.26.9
websocket-client==0.59.0
whitenoise==6.0.0