{% extends 'base/base.html' %}

{% block content %}
<div class="flex justify-center text-center">
    <div class="p-5 my-1 bg-mindful-gray-100 border-4 border-mindful-gray-500 w-200 rounded-3xl">
        <div class="m-3.5 rounded-2xl border-2 border-mindful-blue-500 bg-mindful-blue-100 py-5 px-6">
            <h1 class="font-bold text-lg">About Us</h1>
        </div>
        <div class="m-3.5 rounded-2xl border-2 border-mindful-blue-500 bg-mindful-blue-100 py-5 px-6">
            Mindful is a commitee dedicated to improving the mental health and well-being of high school students.
            <br>
            Everyday you can complete a reflection about how you are feeling. Over time, these will all show up on your
            <a href="{% url 'dashboard' %}" class="text-blue-500">dashboard</a> so you can look back on your reflections from previous days.
            <br>
            Be sure to check out some <a href="{% url 'resources' %}" class="text-blue-500">resources</a> for hotlines, counselling, or CBT courses.
        </div>
    </div>
</div>
{% endblock %}