<!-- !deprecated -->

{% extends 'base/base.html' %}
{% load static %}
{% load zip %}

{% block links %}
<link rel="stylesheet" href="{% static 'reflection/css/form1.css' %}" />
{% endblock %}

{% block content %}
<div class="flex justify-center text-center">
    <div class="p-5 my-1 bg-clr-secondary-1 sm:w-96 md:w-200 rounded-2xl">
        {% if user.is_authenticated %}
        <div>Welcome {{ user.get_username }}</div>
        {% else %}
        <div class="mb-5 text-lg">
            Notice: You are not logged in, form will not save
        </div><a href="{% url 'signup' %}" class="btn-pink">Register</a>
        <a href="{% url 'login' %}" class="btn-pink">Login</a>

        {% endif %}
    </div>
</div>

<div class="flex justify-center text-center">
    <div class="p-5 my-1 bg-clr-secondary-1 w-200 sm:w-96 md:w-200 rounded-2xl">
        <form action="" method="post">
            {% csrf_token %}

            <div class="mx-3.5 mt-2.5 mb-6 rounded-2xl border-2 border-mindful-blue-500 bg-mindful-blue-100 py-5 px-6">
                <h3 class="italic break-words" id="quote-text">"{{ quote.quote }}"</h3>
                <p class="text-center" id="quote-author">- {{ quote.author }}</p>
            </div>

            <div class="mx-3.5 mt-2.5 rounded-2xl border-2 border-mindful-blue-500 bg-mindful-blue-100 py-5 px-6 mb-6">
                <h2 class="text-lg font-semibold">How are you feeling?</h2>
                <hr class="m-4 border-t-2 border-solid rounded-full border-mindful-gray-400">

                <div class="justify-center md:flex sm:block">
                    <!-- TODO: change face icons to svg -->
                    {% for subwidget, icon in form1.feeling|zip:icons %}
                    <div>
                        <input type="radio" name="{{ form1.feeling.name }}" id="{{ subwidget.id_for_label }}"
                            value="{{ forloop.counter0|add:1 }}" />
                        <label for="{{ subwidget.id_for_label }}">
                            <img src="{% static icon %}" alt="Placeholder Test Image" />
                            <div>
                                {{subwidget|striptags|make_list|slice:'2:'|join:''}}
                            </div>
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>

            {% if form1.feeling.errors %}
            <ul>
                {% for error in form1.feeling.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {{ field.help_text }}
            {{ form1.non_field_errors }}
            <input class="btn-pink" type="submit" name="ReflectionForm2" id="ReflectionForm2"
                value="Start your Reflection">
        </form>
    </div>
</div>
{% endblock %}