{% extends 'base/base.html' %}
{% load static %}
{% load zip %}

{% block links %}
<script type="text/javascript" src="{% static 'reflection/js/limitChoice.js' %}"></script>
{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <div class="flex">
        <div class="justify-center m-auto text-center lg:w-1/2">
            <!-- first form -->
            <h2 class="m-3 text-4xl font-bold text-clr-secondary-1">How would you describe how you're feeling?</h2>
            <p class="text-lg font-semibold text-clr-secondary-1">Select a maximum of 3 choices.</p>
            <ul class="flex flex-wrap w-full" id="id_adjective">
                {% for subwidget, adjective in form2.adjective|zip:adjective_choices %}
                <li class="box-border w-5/12 p-3 mx-auto my-3 duration-200 rounded-md shadow-md cursor-pointer bg-clr-secondary-1"
                    onclick="checkChild(this, 'adjective')">
                    <input class="hidden" type="checkbox" name="{{ form2.adjective.name }}"
                        id="{{ subwidget.id_for_label }}" value="{{ forloop.counter0|add:1 }}">
                    <label class="text-xl font-semibold cursor-pointer select-none text-clr-main"
                        for="{{ subwidget.id_for_label }}">
                        {{ adjective }}
                    </label>
                </li>
                {% endfor %}
            </ul>
            {% if form2.adjective.errors %}
            <ul class="flex flex-wrap justify-center pl-0 list-none">
                {% for error in form2.adjective.errors %}
                <li class="inline-block list-none">{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <hr class="w-1/4 mx-auto my-3 border-t-2 border-dashed border-clr-secondary-2">

            <!-- second form -->
            <h2 class="m-3 text-4xl font-bold text-clr-secondary-1">Why are you feeling {{ feeling }}?</h2>
            <p class="text-lg font-semibold text-clr-secondary-1">Select a maximum of 3 choices.</p>
            <ul class="flex flex-wrap w-full" id="id_adjective">
                {% for subwidget, reason in form2.reason|zip:reason_choices %}
                <li class="box-border w-5/12 p-3 mx-auto my-3 duration-200 rounded-md shadow-md cursor-pointer bg-clr-secondary-1"
                    onclick="checkChild(this, 'reason')">
                    <input class="hidden" type="checkbox" name="{{ form2.reason.name }}"
                        id="{{ subwidget.id_for_label }}" value="{{ forloop.counter0|add:1 }}">
                    <label class="text-xl font-semibold cursor-pointer select-none text-clr-main"
                        for="{{ subwidget.id_for_label }}">
                        {{ reason }}
                    </label>
                </li>
                {% endfor %}
            </ul>
            {% if form2.reason.errors %}
            <ul class="flex flex-wrap pl-0 list-none">
                {% for error in form2.reason.errors %}
                <li class="inline-block list-none">{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <hr class="w-1/4 mx-auto my-3 border-t-2 border-dashed border-clr-secondary-2">

            <input class="m-3 md:w-1/4 btn-accent" type="submit" name="ReflectionForm1" id="ReflectionForm1" value="&#171; Back Home">
            {% if update %}
            <input class="m-3 md:w-1/4 btn-accent" type="submit" name="submit" value="Update Log &#187;">
            {% else %}
            <input class="m-3 md:w-1/4 btn-accent" type="submit" name="submit" value="Submit Log &#187;">
            {% endif %}
        </div>
    </div>
</form>
{% endblock %}