{% extends 'base/base.html' %}
{% load fieldfilter %}

{% block title %}Password reset{% endblock %}

{% block content %}
<div class="flex justify-center text-center h-screen">
	<div class="p-5 m-auto bg-mindful-gray-100 border-4 border-mindful-gray-500 w-200 rounded-3xl">
		<div class="text-xl font-bold mx-3.5 mt-2.5 mb-6 rounded-2xl border-2 border-amber-500 bg-amber-100 py-5">Forgot your password
		</div>
		<div class="mx-3.5 mt-2.5 mb-4 rounded-2xl border-2 border-mindful-blue-500 bg-mindful-blue-100 py-2">
			<p class="my-1 w-3/5 m-auto">Please enter your K12 email address.<br>We'll send you a link to reset your password.</p>
			<form method="post">
				{% csrf_token %}
				<!--- TODO: add k12 email filter to this field -->
				<div class="my-1.5">{{ form.email|placeholder_classes:'Username,bg-gray-50 border-2 rounded-md hover:bg-gray-100 duration-150 w-1/2 mt-3' }}</div>
				<button type="submit" class="btn-pink mt-2">Reset my password</button>
			</form>
		</div>
		<div>Already have an account? <a href="{% url 'login' %}" class="text-blue-500">Log In</a></div>
	</div>
</div>
{% endblock %}