{% extends 'base/base.html' %}
{% load fieldfilter %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="flex justify-center text-center h-screen">
	<div class="p-5 m-auto bg-mindful-gray-100 border-4 border-mindful-gray-500 w-200 rounded-3xl">
		<div class="text-xl font-bold mx-3.5 mt-2.5 mb-6 rounded-2xl border-2 border-amber-500 bg-amber-100 py-5">Register</div>
		<div class="mx-3.5 mt-2.5 mb-4 rounded-2xl border-2 border-mindful-blue-500 bg-mindful-blue-100 py-2">
			<form method="post">
				{% csrf_token %}
				<div class="my-1.5">
					{% for field in form %}

					{% if field.errors %}
					{{ field|addclass:'bg-gray-50 border-2 rounded-md hover:bg-gray-100 duration-150 w-1/2 mt-3 rounded-b-none' }}
					<div class="bg-red-300 w-1/2 m-auto rounded-b-md p-1 border-solid border-2 border-red-400">
						{% for error in field.errors %}
						<p>{{ error }}</p>
						{% endfor %}
					</div>
					{% else %}
					{{ field|addclass:'bg-gray-50 border-2 rounded-md hover:bg-gray-100 duration-150 w-1/2 mt-3' }}
					{% endif %}

					{% endfor %}
				</div>
				<button type="submit" class="btn-pink mt-3">Sign up</button>
			</form>
		</div>
		<div>Already have an account? <a href="{% url 'login' %}" class="text-blue-500">Log In</a></div>
	</div>
</div>
{% endblock %}