label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}

label img:hover {
    transform: scale(1.05);
}

:checked + label img {
    transform: scale(0.9);
    opacity: 0.7;
    z-index: -1;
}