{% extends 'base/base.html' %}
{% load static %}
{% load fieldfilter %}

{% block links %}
<script type="text/javascript" src="{% static 'about/js/toggleAnswer.js' %}"></script>
{% endblock %}

{% block title %}STR Mindful | FAQ{% endblock %}

{% block content %}
<div class="flex justify-center text-center">
	<div class="p-5 my-1 bg-mindful-gray-100 border-4 border-mindful-gray-500 w-200 rounded-3xl">
		<div class="m-3.5 rounded-2xl border-2 border-mindful-blue-500 bg-mindful-blue-100 py-5 px-6">
			<h1 class="font-bold text-lg">Frequently Asked Questions</h1>
		</div>
		<hr class="border-mindful-gray-400 border-solid border-t-2 rounded-full m-3.5">
		<div class="text-left ml-4 -my-1.5 select-none cursor-pointer" onclick="toggleAll()">
			&#x25B6;
		</div>
		{% for q in questions %}
		<div id="question{{ q.pk }}"
			class="m-3.5 rounded-2xl border-2 border-mindful-blue-500 bg-mindful-blue-100 py-3 px-6">
			<!--- TODO: collpase/open all funcionality -->
			<span id="arrow{{ q.pk }}" class="float-left select-none cursor-pointer duration-200"
				onclick="toggleAnswer('{{ q.pk }}')">&#x25B6;</span>
			<span class="italic">{{ q.question }}</span>
			<div id="answer{{ q.pk }}" class="hidden">
				<hr class="border-mindful-blue-400 border-solid border-t-2 rounded-full my-3">
				<span>{{ q.answer }}</span>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
<div class="flex justify-center text-center">
	<div class="p-5 my-1 bg-mindful-gray-100 border-4 border-mindful-gray-500 w-200 rounded-3xl">
		<div class="m-3.5 rounded-2xl border-2 border-mindful-blue-500 bg-mindful-blue-100 py-5 px-6">
			<h1 class="font-bold text-lg">Didn't see your question? Ask it here.</h1>
		</div>
		<form method="POST">
			{% csrf_token %}
			<div>
				{{ form.email|placeholder_classes:'Email,bg-gray-50 border-2 rounded-md hover:bg-gray-100 duration-150 w-1/2 mt-3' }}
				{{ form.question|placeholder_classes:'What\'s on your mind?,bg-gray-50 border-2 rounded-md hover:bg-gray-100 duration-150 w-1/2 m-3' }}
			</div>
			<input type="submit" class="btn-pink" value="Submit Question">
		</form>
	</div>
</div>
{% endblock %}