{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mindful Reflections{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />

    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    {% block links %}{% endblock %}
</head>

<body class="bg-clr-main">
{% include 'base/navbar.html' %}
{% block content %}
{% endblock %}
</body>
</html>