@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: FredokaLight;
    src: url("fonts/Fredoka-Light.ttf") format("truetype");
}

* {
    font-family: FredokaLight;
}

@layer components {
    .btn-accent {
        @apply cursor-pointer font-bold rounded-xl p-3 bg-clr-accent-1 text-clr-accent-2 border-2 border-clr-accent-2
    }
    .btn-secondary {
        @apply cursor-pointer font-bold rounded-xl p-3 bg-clr-secondary-1 text-clr-main border-2 border-clr-secondary-2
    }
}

/* Global Classes */

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
