<!-- !deprecated -->

{% extends 'base/base.html' %}

{% block title %}STR Mindful | Resources{% endblock %}

{% block content %}
<div class="w-7/12 mx-auto">
    <div class="grid grid-cols-3 gap-4">
        {% for resource in resources %}
        <div class="p-5 my-1 text-center border-4 bg-mindful-gray-100 border-mindful-gray-500 rounded-3xl">
            <a href="{{ resource.link }}" class="text-lg font-bold text-blue-600 hover:underline">{{ resource.name.title }}</a>
            <hr class="border-mindful-gray-400 border-solid border-t-2 rounded-full m-3.5">
            <span class="mx-4 mt-3">{{ resource.description }}</span>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}