{% extends 'base/base.html' %}
{% load static %}

{% block title %}STR Mindful | Resources{% endblock %}

{% block links %}
<script type="text/javascript"  src="{% static 'resources/js/filterResources.js' %}"></script>
{% endblock %}

{% block content %}
<div class="m-auto lg:w-5/6">
    <h1 class="p-3 m-3 text-5xl font-bold text-center md:text-7xl md:text-left text-clr-accent-1">Resources</h1>
    <div class="lg:flex">
        <div class="p-3 m-3 lg:hidden">
            <button class="w-full text-xl shadow-md btn-secondary" onclick="toggleFilters()">
                Filter
            </button>
            <div class="hidden m-3" id="sm-filters">
                <p class="text-3xl font-semibold text-clr-secondary-1">Resource Type</p>
                <ul class="m-3">
                    {% for resource_t in resource_types %}
                    <li class="m-1">
                        <label class="text-clr-secondary-1">
                            <input type="checkbox" id="{{ resource_t.0 }}" onclick="filterResources(this)">
                            {{ resource_t.1 }}
                        </label>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="flex-auto hidden p-3 m-3 lg:w-1/6 lg:block">
            <p class="text-3xl font-semibold text-clr-secondary-1">Resource Type</p>
            <ul class="m-3">
                {% for resource_t in resource_types %}
                <li class="m-1">
                    <label class="text-clr-secondary-1">
                        <input type="checkbox" id="{{ resource_t.0 }}" onclick="filterResources(this)">
                        {{ resource_t.1 }}
                    </label>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="flex-auto m-3 lg:m-auto lg:w-5/6 lg:p-3">
            <p id="resource-cnt" class="text-2xl text-clr-secondary-1">
                {{ resources|length }} result{% if resources|length != 1 %}s{% endif %} found
            </p>
            <hr class="my-3 bg-clr-secondary-1">
            <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3" id="resource-list">
                {% for resource in resources %}
                <div id="{{ resource.resource_t }}"
                    class="divide-y-2 rounded-md shadow-md md:p-3 bg-clr-secondary-1 divide-clr-main">
                    <h3 class="m-3 text-xl font-semibold text-center lg:text-2xl text-clr-main">{{ resource.name.title }}</h3>
                    <p class="py-3 mx-3 text-lg lg:text-xl text-clr-main">{{ resource.description }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}