@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: FredokaLight;
    src: url('fonts/Fredoka-Light.ttf') format('truetype');
}

* {
    font-family: FredokaLight;
}

/* Global Classes */